<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
      <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}">
        <title>{% block title %}VOXINGA!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>


  <nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/">VOXINGA!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/form">Crea un vox!</a>
        </li>
      </ul>


          {% if  app.session.get("username")%}

            <a class="nav-link active" aria-current="page" href="/logout">Cerrar sesión</a>

          {% else %}

            <a class="nav-link active" aria-current="page" href="/login">Inicia sesión</a>

          {% endif %}

    
    </div>
  </div>
</nav>


        {% block body %}{% endblock %}
    </body>
</html>
 